{% extends "base.html" %}
{% block content %}
<div style="margin: 20px; padding: 20px; background-color: #f0f2f5; border-radius: 12px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
    <h2 style="font-size: 28px; color: #333; font-weight: bold; margin-bottom: 30px; text-align: center;">Список продуктов</h2>
    
    <!-- Панель управления для выбора диапазона -->
    <div style="margin-bottom: 30px; display: flex; justify-content: space-between; align-items: center; gap: 15px;">
        <div>
            <label for="offset" style="font-size: 16px; color: #333;">Показать с</label>
            <input type="number" id="offset" value="0" min="0" style="padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; width: 100px; background-color: #fff;">
        </div>
        <div>
            <label for="limit" style="font-size: 16px; color: #333;">Количество на странице</label>
            <input type="number" id="limit" value="10" min="1" style="padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; width: 100px; background-color: #fff;">
        </div>
        <button onclick="loadProducts()" 
                style="padding: 10px 20px; background-color: #007bff; color: white; font-size: 16px; border-radius: 8px; border: none; cursor: pointer; transition: transform 0.2s ease;">
            Применить
        </button>
    </div>
    <!-- Форма поиска по всем параметрам -->
    <div>
        <label for="product_name" style="font-size: 16px; color: #333;">Поиск по названию</label>
        <input type="text" id="product_name" style="padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; width: 150px; background-color: #fff;">
    </div>
    <div>
        <label for="searchManufacturerId" style="font-size: 16px; color: #333;">Производитель</label>
        <input type="number" id="searchManufacturerId" style="padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; width: 150px; background-color: #fff;">
    </div>
    <div>
        <label for="searchCategoryId" style="font-size: 16px; color: #333;">Категория</label>
        <input type="number" id="searchCategoryId" style="padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; width: 150px; background-color: #fff;">
    </div>
    <div>
        <label for="searchPrice" style="font-size: 16px; color: #333;">Цена</label>
        <input type="number" id="searchPrice" style="padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; width: 150px; background-color: #fff;">
    </div>
    <div>
        <label for="searchExpirationDate" style="font-size: 16px; color: #333;">Дата истечения</label>
        <input type="date" id="searchExpirationDate" style="padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; width: 150px; background-color: #fff;">
    </div>
    <div>
        <label for="searchWeight" style="font-size: 16px; color: #333;">Вес</label>
        <input type="number" id="searchWeight" style="padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; width: 150px; background-color: #fff;">
    </div>
    <div>
        <label for="searchStockId" style="font-size: 16px; color: #333;">ID склада</label>
        <input type="number" id="searchStockId" style="padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; width: 150px; background-color: #fff;">
    </div>
    <div>
        <label for="searchStockLocation" style="font-size: 16px; color: #333;">Местоположение на складе</label>
        <input type="number" id="searchStockLocation" style="padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; width: 150px; background-color: #fff;">
    </div>
    <div>
        <label for="searchStockQuantity" style="font-size: 16px; color: #333;">Количество на складе</label>
        <input type="number" id="searchStockQuantity" style="padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; width: 150px; background-color: #fff;">
        
    </div>
    
    <button onclick="searchProducts()" 
            style="padding: 10px 20px; background-color: #007bff; color: white; font-size: 16px; border-radius: 8px; border: none; cursor: pointer; transition: transform 0.2s ease;">
        Применить
    </button>
    <div>
    </div>

    <!-- Кнопка для добавления нового продукта -->
    <button 
        onclick="openAddModal()" 
        style="margin-bottom: 30px; padding: 12px 25px; background-color: #007bff; color: white; font-size: 16px; border-radius: 8px; border: none; cursor: pointer; transition: transform 0.2s ease;">
        Добавить продукт
    </button>

    <!-- Таблица продуктов -->
    <div style="overflow-x: auto;">
        <table id="productsTable" style="width: 100%; border-spacing: 0; font-family: 'Roboto', sans-serif; background-color: #ffffff; border-radius: 12px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);">
            <thead style="background-color: #007bff; color: white; text-transform: uppercase;">
                <tr>
                    <th style="padding: 16px 24px; text-align: left;">Название</th>
                    <th style="padding: 16px 24px; text-align: left;">Производитель</th>
                    <th style="padding: 16px 24px; text-align: left;">Категория</th>
                    <th style="padding: 16px 24px; text-align: left;">Цена</th>
                    <th style="padding: 16px 24px; text-align: left;">Дата истечения</th>
                    <th style="padding: 16px 24px; text-align: left;">Вес</th>
                    <th style="padding: 16px 24px; text-align: left;">Склад</th>
                    <th style="padding: 16px 24px; text-align: left;">Местоположение на складе</th>
                    <th style="padding: 16px 24px; text-align: left;">Количество на складе</th>
                    <th style="padding: 16px 24px; text-align: center;">Действия</th>
                </tr>
            </thead>
            <tbody>
                <!-- Здесь будет отображаться список продуктов -->
            </tbody>
        </table>
    </div>

    <!-- Модальное окно для добавления продукта -->
    <div id="addModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 25px; border: 1px solid #ddd; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); border-radius: 8px;">
        <h3 style="font-size: 22px; color: #333;">Добавить новый продукт</h3>
        <form id="addForm">
            <label style="font-size: 16px; color: #333;">Название:</label>
            <input type="text" id="addProductName" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Производитель:</label>
            <input type="number" id="addManufacturerId" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Категория:</label>
            <input type="number" id="addCategoryId" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Цена:</label>
            <input type="number" id="addPrice" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Дата истечения:</label>
            <input type="date" id="addExpirationDate" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Вес:</label>
            <input type="number" id="addWeight" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Склад:</label>
            <input type="number" id="addStockId" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Местоположение на складе:</label>
            <input type="number" id="addStockLocation" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Количество на складе:</label>
            <input type="number" id="addStockQuantity" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 20px;">
            
            <button type="button" onclick="addProduct()" style="padding: 12px 25px; background-color: #007bff; color: white; font-size: 16px; border-radius: 8px; border: none; cursor: pointer;">Сохранить</button>
            <button type="button" onclick="closeAddModal()" style="padding: 12px 25px; margin-left: 10px; background-color: #f44336; color: white; font-size: 16px; border-radius: 8px; border: none; cursor: pointer;">Отмена</button>
        </form>
    </div>

    <!-- Модальное окно для редактирования продукта -->
    <div id="editModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 25px; border: 1px solid #ddd; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); border-radius: 8px;">
        <h3 style="font-size: 22px; color: #333;">Изменить данные продукта</h3>
        <form id="editForm">
            <input type="hidden" id="editProductId">
            
            <label style="font-size: 16px; color: #333;">Название:</label>
            <input type="text" id="editProductName" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Производитель:</label>
            <input type="number" id="editManufacturerId" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Категория:</label>
            <input type="number" id="editCategoryId" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Цена:</label>
            <input type="number" id="editPrice" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Дата истечения:</label>
            <input type="date" id="editExpirationDate" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Вес:</label>
            <input type="number" id="editWeight" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Склад:</label>
            <input type="number" id="editStockId" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Местоположение на складе:</label>
            <input type="number" id="editStockLocation" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 10px;">
            
            <label style="font-size: 16px; color: #333;">Количество на складе:</label>
            <input type="number" id="editStockQuantity" style="width: 100%; padding: 8px 15px; font-size: 16px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 20px;">
            
            <button type="button" onclick="updateProduct()" style="padding: 12px 25px; background-color: #007bff; color: white; font-size: 16px; border-radius: 8px; border: none; cursor: pointer;">Сохранить</button>
            <button type="button" onclick="closeEditModal()" style="padding: 12px 25px; margin-left: 10px; background-color: #f44336; color: white; font-size: 16px; border-radius: 8px; border: none; cursor: pointer;">Отмена</button>
        </form>
    </div>

    <div id="pagination" style="margin-top: 20px; text-align: center; background-color: white; padding: 15px; border: 1px solid #ddd; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); border-radius: 8px;">
        <button id="prevPageBtn" onclick="changePage('prev')" style="padding: 8px 20px; background-color: #007bff; color: white; border: none; cursor: pointer; font-size: 16px; border-radius: 8px; transition: background-color 0.3s;">
            Предыдущая страница
        </button>
        <span id="pageInfo" style="margin: 0 15px; font-size: 16px; color: #333;">Страница 1</span>
        <button id="nextPageBtn" onclick="changePage('next')" style="padding: 8px 20px; background-color: #007bff; color: white; border: none; cursor: pointer; font-size: 16px; border-radius: 8px; transition: background-color 0.3s;">
            Следующая страница
        </button>
    </div>
</div>

<script>
    let currentPage = 1; // Текущая страница
    let limit = 10; // Количество продуктов на странице
    let offset = 0; // Начальный offset (смещение)

    // Функция загрузки продуктов
    async function loadProducts() {
        try {
            const response = await fetch(`/products/all?offset=${offset}&limit=${limit}`);
            const products = await response.json();
            const tableBody = document.querySelector('#productsTable tbody');
            tableBody.innerHTML = ''; // Очистить текущую таблицу

            if (products.length > 0) {
                products.forEach(product => {
                    const row = document.createElement('tr');
                    row.id = `product-row-${product.id}`;
                    row.innerHTML = `
                        <td style="padding: 16px; border: 1px solid #ddd;">${product.product_name}</td>
                        <td style="padding: 16px; border: 1px solid #ddd;">${product.manufacturer_id}</td>
                        <td style="padding: 16px; border: 1px solid #ddd;">${product.category_id}</td>
                        <td style="padding: 16px; border: 1px solid #ddd;">${product.price}</td>
                        <td style="padding: 16px; border: 1px solid #ddd;">${product.expiration_date}</td>
                        <td style="padding: 16px; border: 1px solid #ddd;">${product.weight}</td>
                        <td style="padding: 16px; border: 1px solid #ddd;">${product.stock_id}</td>
                        <td style="padding: 16px; border: 1px solid #ddd;">${product.stock_location}</td>
                        <td style="padding: 16px; border: 1px solid #ddd;">${product.stock_quantity}</td>
                        <td style="padding: 16px; border: 1px solid #ddd; text-align: center;">
                            <button 
                                style="padding: 8px 16px; background-color: #007bff; color: white; font-size: 14px; border-radius: 8px; border: none; cursor: pointer; margin-right: 10px;" 
                                onclick="openEditModal('${product.id}', '${product.product_name}', '${product.manufacturer_id}', '${product.category_id}', '${product.price}', '${product.expiration_date}', '${product.weight}', '${product.stock_id}', '${product.stock_location}', '${product.stock_quantity}')">
                                Изменить
                            </button>
                            <button 
                                style="padding: 8px 16px; background-color: #f44336; color: white; font-size: 14px; border-radius: 8px; border: none; cursor: pointer;" 
                                onclick="deleteProduct('${product.id}')">
                                Удалить
                            </button>
                        </td>
                    `;
                    tableBody.appendChild(row);
                });
            } else {
                const row = document.createElement('tr');
                row.innerHTML = `<td colspan="10" style="padding: 16px; text-align: center; color: #777;">Нет данных для отображения</td>`;
                tableBody.appendChild(row);
            }
        } catch (error) {
            console.error('Ошибка загрузки продуктов:', error);
            alert('Ошибка при загрузке данных');
        }

        updatePagination();
    }

    async function searchProducts() {
    const productName = document.getElementById('product_name').value;
    const manufacturerId = document.getElementById('searchManufacturerId').value;
    const categoryId = document.getElementById('searchCategoryId').value;
    const price = document.getElementById('searchPrice').value;
    const expirationDate = document.getElementById('searchExpirationDate').value;
    const weight = document.getElementById('searchWeight').value;
    const stockId = document.getElementById('searchStockId').value;
    const stockLocation = document.getElementById('searchStockLocation').value;
    const stockQuantity = document.getElementById('searchStockQuantity').value;
    const offset = document.getElementById('offset').value;
    const limit = document.getElementById('limit').value;

    // Создаем объект с параметрами запроса, исключая пустые значения
    const params = new URLSearchParams();
    if (productName) params.append('product_name', productName);
    if (manufacturerId) params.append('manufacturer_id', manufacturerId);
    if (categoryId) params.append('category_id', categoryId);
    if (price) params.append('price', price);
    if (expirationDate) params.append('expiration_date', expirationDate);
    if (weight) params.append('weight', weight);
    if (stockId) params.append('stock_id', stockId);
    if (stockLocation) params.append('stock_location', stockLocation);
    if (stockQuantity) params.append('stock_quantity', stockQuantity);
    params.append('offset', offset);
    params.append('limit', limit);

    try {
        // Отправляем запрос с параметрами
        const response = await fetch(`/products/search/?${params.toString()}`);
        const products = await response.json();
        const tableBody = document.querySelector('#productsTable tbody');
        tableBody.innerHTML = ''; // Очистить текущую таблицу

        if (products.length > 0) {
            products.forEach(product => {
                const row = document.createElement('tr');
                row.id = `product-row-${product.id}`;
                row.innerHTML = `
                    <td style="padding: 10px; border: 1px solid #ddd;">${product.product_name}</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">${product.manufacturer_id}</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">${product.category_id}</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">${product.price}</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">${product.expiration_date}</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">${product.weight}</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">${product.stock_id}</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">${product.stock_location}</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">${product.stock_quantity}</td>
                    <td style="padding: 10px; border: 1px solid #ddd; text-align: center;">
                        <button 
                                style="padding: 8px 16px; background-color: #007bff; color: white; font-size: 14px; border-radius: 8px; border: none; cursor: pointer; margin-right: 10px;" 
                                onclick="openEditModal('${product.id}', '${product.product_name}', '${product.manufacturer_id}', '${product.category_id}', '${product.price}', '${product.expiration_date}', '${product.weight}', '${product.stock_id}', '${product.stock_location}', '${product.stock_quantity}')">
                                Изменить
                            </button>
                        <button 
                            style="padding: 5px 10px; background-color: #f44336; color: white; border: none; cursor: pointer;" 
                            onclick="deleteProduct('${product.id}')">
                            Удалить
                        </button>
                    </td>
                `;
                tableBody.appendChild(row);
            });
        } else {
            const row = document.createElement('tr');
            row.innerHTML = `<td colspan="10" style="padding: 10px; text-align: center; color: #666;">Нет данных для отображения</td>`;
            tableBody.appendChild(row);
        }
    } catch (error) {
        console.error('Ошибка поиска продуктов:', error);
        alert('Ошибка при поиске продуктов');
    }
}

    // Вызов загрузки продуктов при старте страницы
    window.onload = loadProducts;

    // Функции для добавления продукта
    function openAddModal() {
        document.getElementById('addModal').style.display = 'block';
    }

    function closeAddModal() {
        document.getElementById('addModal').style.display = 'none';
    }

    async function addProduct() {
        const productName = document.getElementById('addProductName').value;
        const manufacturerId = document.getElementById('addManufacturerId').value;
        const categoryId = document.getElementById('addCategoryId').value;
        const price = document.getElementById('addPrice').value;
        const expirationDate = document.getElementById('addExpirationDate').value;
        const weight = document.getElementById('addWeight').value;
        const stockId = document.getElementById('addStockId').value;
        const stockLocation = document.getElementById('addStockLocation').value;
        const stockQuantity = document.getElementById('addStockQuantity').value;

        if (!productName || !manufacturerId || !categoryId || !price || !expirationDate || !weight || !stockId || !stockLocation || !stockQuantity) {
        alert('Пожалуйста, заполните все поля.');
        return;
    }

    // Проверка на корректность числовых значений
    if (isNaN(price) || isNaN(weight) || isNaN(stockQuantity)) {
        alert('Цена, вес и количество должны быть числовыми значениями.');
        return;
    }

    const expirationDateObj = new Date(expirationDate);
    if (isNaN(expirationDateObj.getTime())) {
        alert('Некорректная дата истечения срока.');
        return;
    }

    // Проверка, что дата истечения срока не раньше текущей
    const currentDate = new Date();
    if (expirationDateObj < currentDate) {
        alert('Дата истечения срока не может быть раньше текущей даты.');
        return;
    }

        const data = { product_name: productName, manufacturer_id: manufacturerId, category_id: categoryId, price: price, expiration_date: expirationDate, weight: weight, stock_id: stockId, stock_location: stockLocation, stock_quantity: stockQuantity };

        try {
            const response = await fetch('/products/add', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data),
            });

            if (response.ok) {
                alert('Продукт успешно добавлен');
                loadProducts(); // Перезагружаем список продуктов
                closeAddModal(); // Закрываем окно
            } else {
                alert('Ошибка при добавлении продукта');
            }
        } catch (error) {
            console.error('Ошибка добавления продукта:', error);
            alert('Ошибка при добавлении продукта');
        }
    }

    // Функции для редактирования продукта
    function openEditModal(id, productName, manufacturerId, categoryId, price, expirationDate, weight, stockId, stockLocation, stockQuantity) {
        document.getElementById('editProductId').value = id;
        document.getElementById('editProductName').value = productName;
        document.getElementById('editManufacturerId').value = manufacturerId;
        document.getElementById('editCategoryId').value = categoryId;
        document.getElementById('editPrice').value = price;
        document.getElementById('editExpirationDate').value = expirationDate;
        document.getElementById('editWeight').value = weight;
        document.getElementById('editStockId').value = stockId;
        document.getElementById('editStockLocation').value = stockLocation;
        document.getElementById('editStockQuantity').value = stockQuantity;
        document.getElementById('editModal').style.display = 'block';
    }

    function closeEditModal() {
        document.getElementById('editModal').style.display = 'none';
    }

    async function updateProduct() {
        const id = document.getElementById('editProductId').value;
        const productName = document.getElementById('editProductName').value;
        const manufacturerId = document.getElementById('editManufacturerId').value;
        const categoryId = document.getElementById('editCategoryId').value;
        const price = document.getElementById('editPrice').value;
        const expirationDate = document.getElementById('editExpirationDate').value;
        const weight = document.getElementById('editWeight').value;
        const stockId = document.getElementById('editStockId').value;
        const stockLocation = document.getElementById('editStockLocation').value;
        const stockQuantity = document.getElementById('editStockQuantity').value;

        if (!productName || !manufacturerId || !categoryId || !price || !expirationDate || !weight || !stockId || !stockLocation || !stockQuantity) {
        alert('Пожалуйста, заполните все поля.');
        return;
    }

    // Проверка на корректность числовых значений
    if (isNaN(price) || isNaN(weight) || isNaN(stockQuantity)) {
        alert('Цена, вес и количество должны быть числовыми значениями.');
        return;
    }

    const expirationDateObj = new Date(expirationDate);
    if (isNaN(expirationDateObj.getTime())) {
        alert('Некорректная дата истечения срока.');
        return;
    }

    // Проверка, что дата истечения срока не раньше текущей
    const currentDate = new Date();
    if (expirationDateObj < currentDate) {
        alert('Дата истечения срока не может быть раньше текущей даты.');
        return;
    }

        const data = { product_name: productName, manufacturer_id: manufacturerId, category_id: categoryId, price: price, expiration_date: expirationDate, weight: weight, stock_id: stockId, stock_location: stockLocation, stock_quantity: stockQuantity };

        try {
            const response = await fetch(`/products/edit/${id}`, {
                method: 'PATCH',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data),
            });

            if (response.ok) {
                alert('Продукт успешно обновлен');
                loadProducts();
                closeEditModal();
            } else {
                alert('Ошибка при обновлении продукта');
            }
        } catch (error) {
            console.error('Ошибка обновления продукта:', error);
            alert('Ошибка при обновлении продукта');
        }
    }

    // Функция удаления продукта
    async function deleteProduct(id) {
        if (confirm('Вы уверены, что хотите удалить этот продукт?')) {
            try {
                const response = await fetch(`/products/remove/${id}`, { method: 'DELETE' });
                if (response.ok) {
                    alert('Продукт успешно удалён');
                    loadProducts();
                } else {
                    alert('Ошибка при удалении продукта');
                }
            } catch (error) {
                console.error('Ошибка удаления продукта:', error);
                alert('Ошибка при удалении продукта');
            }
        }
    }

    // Функция обновления пагинации
    function updatePagination() {
        document.getElementById('pageInfo').innerText = `Страница ${currentPage}`;
        const prevPageBtn = document.getElementById('prevPageBtn');
        const nextPageBtn = document.getElementById('nextPageBtn');

        prevPageBtn.disabled = currentPage === 1;
        nextPageBtn.disabled = false; // Вы можете включить дополнительную логику для блокировки кнопки "Следующая страница"
    }

    // Функция для изменения страницы
    function changePage(direction) {
        if (direction === 'prev' && currentPage > 1) {
            currentPage--;
            limit -= 10;
            offset -= 10;
        } else if (direction === 'next') {
            currentPage++;
            limit += 10;
            offset += 10;
        }
        loadProducts(); // Загружаем продукты для новой страницы
    }

    // Вызов загрузки продуктов при старте страницы
    window.onload = loadProducts;
</script>
{% endblock %}
